@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-4xl font-bold m-4 p-2 
}

h2{
    @apply text-3xl font-semibold m-4 p-2 
}

h3{
    @apply text-2xl font-semibold m-4 p-2 
}

h4{
    @apply text-xl font-semibold m-4 p-2 
}

h5{
    @apply text-lg font-semibold m-4 p-2 
}

h6{
    @apply text-base font-semibold m-4 p-2 
}

.animateOnScroll{
    animation: fade both;
    animation-timeline: view();
    animation-range: entry 40% cover 40%;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}