---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout buttons={[["Home", "/"], ["Projects", "/#projects"], ["Contacts", "/contacts"]]}>
    <div class="flex">
        <div class="w-1/2 h-screen bg-dominant-color flex-grow flex flex-col justify-center items-center text-white">
            <h1>Let's Get in Touch!</h1>
            <img src="pfp.jpg" class="p-2 m-4 shadow-3xl rounded-full w-1/2 h-1/2 aspect-square">
        </div>
        <div class="w-1/2 h-screen bg-page-color flex-grow flex flex-col justify-center">
            <h3>Email:</h3>
            <h3>Github:</h3>
            <h3>Facebook:</h3>
            <h3>Discord:</h3> 
        </div>
    </div>
</MainLayout>