---
import MainLayout from "../layouts/MainLayout.astro"
import ToolDisplay from "../components/toolWidget.astro"
import Footer from "../components/footer.astro"
---
<MainLayout buttons={[["Home", "/"], ["Projects", "#projects"], ["Contacts", "#contacts"]]}>
    <div class="scroll-watcher"></div>
    <div id="home" class="bg-dominant-color w-screen px-20 pt-10 lg:pt-20">
        <div class="animateOnScroll text-white flex max-lg:flex-col justify-center items-center">
            <br class="my-10 lg:my-36"/>
            <img src="pfp.jpg" class="p-2 m-4 rounded-full w-1/2 aspect-square">
            <div class="text-center lg:text-right">
                <h2>Hi! I'm</h2>
                <h1 class="text-5xl md:text-6xl shadow-xl rounded-xl"> PlaceHolderHere</h1>
                <h5 class="text-black">A Python and Web Developer</h5>
                <h6 class="text-black flex-grow">
                    <span class="flex justify-end">Built with Astro
                        <img src="favicon.svg" width="40" height="40">
                    </span>
                </h6>
                <br/>
            </div>
        </div>
    </div>
    <br id="about"/>
    <div class="animateOnScroll px-24 shadow-3xl">
        <h2 class="text-center">Who am I?</h2>
        <h3 class="text-justify font-light">&nbsp;&nbsp;&nbsp;&nbsp;Hi! I’m PlaceHolderHere and I code as a hobby. Im currently exploring how coding works and what I can do with it. As of the moment, I've primarily done Python and Web Development. Right now im trying out web development using Astro and React but I’m open to trying new things.</h3>
        <div class="tools my-12 flex flex-wrap items-center justify-center animateOnScroll">
            <h3>My Tools: </h3>
            <ToolDisplay tooltipTitle="Python" logoSrc="/images/logos/python.png"/>
            <ToolDisplay tooltipTitle="Pygame" logoSrc="/images/logos/pygame.png"/>
            <ToolDisplay tooltipTitle="Canva" logoSrc="/images/logos/canva.png"/>
            <ToolDisplay tooltipTitle="Html" logoSrc="/images/logos/html.png"/>
            <ToolDisplay tooltipTitle="CSS" logoSrc="/images/logos/css.png"/>
            <ToolDisplay tooltipTitle="Tailwind" logoSrc="/images/logos/tailwind.png"/>
            <ToolDisplay tooltipTitle="Javascript" logoSrc="/images/logos/javascript.png"/>
            <ToolDisplay tooltipTitle="Astro" logoSrc="/images/logos/astro.png"/>
            <ToolDisplay tooltipTitle="MySQL" logoSrc="/images/logos/mysql.png"/>
        </div>
    </div>
    <div class="bg-dominant-color w-screen p-4">
        <div class="animateOnScroll text-white text-center">
            <h1 id="projects" class="text-7xl">Projects</h1>
            <h5 class="text-black">See something you like?</h5>
            <a class="rounded-xl bg-button-color shadow-2xl p-2 m-8 text-xl font-semibold text-black hover:bg-button-hover-color hover:cursor-pointer" target="_blank" rel="noopener noreferrer">Contact Me!</a>
            <br class="mb-10"/>
        </div>
    </div>

    <div class="flex flex-col justify-evenly">
        <div class="bg-dominant-color p-4 text-white">
            <div class="animateOnScroll flex items-center justify-center">
                <img src="/images/project-images/space-invaders.png" class="flex-grow w-1/3 rounded-xl m-4">

                <div class="flex flex-col items-center w-2/3 flex-grow">
                    <h1 class="text-6xl">Space Invaders</h1>
                    <h6 class="font-normal">&nbsp;&nbsp;&nbsp;&nbsp;A recreation of the classic Arcade Game Space Invaders made using Python and the Pygame library</h6>
                    <div class="tools flex flex-wrap items-center justify-center">
                        <h5>Made With: </h5>
                        <ToolDisplay tooltipTitle="Python" logoSrc="/images/logos/python.png"/>
                        <ToolDisplay tooltipTitle="Pygame" logoSrc="/images/logos/pygame.png"/>
                    </div>

                    <a href="https://github.com/PlaceHolderHere/SpaceInvaders" class="rounded-xl bg-button-color text-white shadow-2xl p-2 m-2 text-xl font-semibold hover:bg-button-hover-color hover:cursor-pointer" target="_blank" rel="noopener noreferrer">Source Code</a>
                </div>
            </div>
        </div>

        <div class="bg-page-color p-4 text-black">
            <div class="animateOnScroll flex items-center justify-center">
                <div class="flex flex-col items-center w-2/3 flex-grow">
                    <h1 class="text-6xl">QR Log-in System</h1>
                    <h6 class="font-normal">&nbsp;&nbsp;&nbsp;&nbsp;A QR code-based log-in/out system made with Python, OpenCV, and MySQL</h6>
                    <div class="tools flex flex-wrap items-center justify-center">
                        <h5>Made With: </h5>
                        <ToolDisplay tooltipTitle="Python" logoSrc="/images/logos/python.png"/>
                        <ToolDisplay tooltipTitle="MySQL" logoSrc="/images/logos/mysql.png"/>
                        <ToolDisplay tooltipTitle="OpenCV" logoSrc="/images/logos/opencv.png"/>
                    </div>
                    <a href="https://github.com/PlaceHolderHere/qr_code_scanner_python" class="rounded-xl bg-button-color text-white shadow-2xl p-2 m-2 text-xl font-semibold hover:bg-button-hover-color hover:cursor-pointer">Source Code</a>
                </div>

                <img src="/images/project-images/qr-code-scanner.png" class="flex-grow w-1/3 rounded-xl m-4">
            </div>
        </div>
    <Footer />
</MainLayout>