---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
    <div class="bg-dominant-color text-white shadow-3xl flex justify-center items-center w-screen px-24">
        <br class="my-36"/>
            <img src="pfp.jpg" class="p-1 m-4 shadow-3xl rounded-full" width="25%" height="25%">
            <div class="text-right">
                <h1 class="text-7xl">Hi!</h1>
                <h1>I'm PlaceHolderHere</h1>
                <h5 class="text-black">A Python and Web Developer</h5>
                <br/>
            </div>
    </div>
    <br />
    <div class="px-24 shadow-3xl ">
        <h2 class="text-center">Who am I?</h2>
        <h3 class="text-justify font-light">&nbsp;&nbsp;&nbsp;&nbsp;I’m PlaceHolderHere and I think codings neat! Im currently exploring the magic of how coding works. I’ve mostly tried Python and Javascript. Right now im navigating through web development using Astro and React but I’m open to trying new things.</h3>
        <div class="tools my-12 flex flex-wrap items-center justify-center">
            <h3>My Tools: </h3>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
            <div class="bg-dominant-color w-16 h-16 rounded-3xl mx-1"></div>
        </div>
    </div>

    <div class="bg-dominant-color text-white shadow-3xl w-screen p-4 text-center">
        <h1 class="text-7xl">Projects</h1>
        <h5 class="text-black">See something you like?</h5>
        <a class="rounded-xl bg-button-color shadow-2xl p-2 m-8 text-xl font-semibold text-black hover:bg-button-hover-color hover:cursor-pointer">Contact Me!</a>
        <br class="mb-10"/>
    </div>
    <div class="flex max-md:flex-col md:flex-row justify-evenly text-white">
        <div class="flex flex-col justify-center md:w-1/2">
            <div class="bg-accent-color flex items-center justify-center aspect-video">
                <h1>Project 1</h1>
            </div>
            <div class="bg-button-color flex items-center justify-center aspect-video">
                <h1>Project 3</h1>
            </div>
        </div>
        <div class="flex flex-col justify-center md:w-1/2">
            <div class="bg-button-color flex items-center justify-center aspect-video">
                <h1>Project 2</h1>
            </div>
            <div class="bg-accent-color flex items-center justify-center aspect-video">
                <h1>Project 4</h1>
            </div>
        </div>
    </div>
</MainLayout>