---

---
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>PlaceHolderHere's Website</title>

	</style>
</head>

<html lang="en">
	<body>
		
	</body>
</html>