---
import MainLayout from "../layouts/MainLayout.astro"
import ToolDisplay from "../components/toolWidget.astro"
import Footer from "../components/footer.astro"
---

<MainLayout buttons={[["Home", "/"], ["Projects", "#projects"], ["Contacts", "#contacts"]]}>
    <div id="home" class="bg-dominant-color text-white shadow-3xl flex max-lg:flex-col justify-center items-center w-screen px-20 pt-10 lg:pt-20">
        <br class="my-10 lg:my-36"/>
            <img src="pfp.jpg" class="p-2 m-4 shadow-3xl rounded-full w-1/2 aspect-square">
            <div class="text-center lg:text-right">
                <h1>Hi! I'm</h1>
                <h1 class="text-5xl md:text-6xl"> PlaceHolderHere</h1>
                <h5 class="text-black">A Python and Web Developer</h5>
                <br/>
            </div>
    </div>
    <br id="about"/>
    <div class="px-24 shadow-3xl ">
        <h2 class="text-center">Who am I?</h2>
        <h3 class="text-justify font-light">&nbsp;&nbsp;&nbsp;&nbsp;I’m PlaceHolderHere and I think codings neat! Im currently exploring the magic of how coding works. I’ve mostly tried Python and Javascript. Right now im navigating through web development using Astro and React but I’m open to trying new things.</h3>
        <div class="tools my-12 flex flex-wrap items-center justify-center">
            <h3>My Tools: </h3>
            <ToolDisplay tooltipTitle="Python" logoSrc="/src/logos/python.png"/>
            <ToolDisplay tooltipTitle="Pygame" logoSrc="/src/logos/pygame.png"/>
            <ToolDisplay tooltipTitle="Canva" logoSrc="/src/logos/canva.png"/>
            <ToolDisplay tooltipTitle="Html" logoSrc="/src/logos/html.png"/>
            <ToolDisplay tooltipTitle="CSS" logoSrc="/src/logos/css.png"/>
            <ToolDisplay tooltipTitle="Tailwind" logoSrc="/src/logos/tailwind.png"/>
            <ToolDisplay tooltipTitle="Javascript" logoSrc="/src/logos/javascript.png"/>
            <ToolDisplay tooltipTitle="Astro" logoSrc="/src/logos/astro.png"/>
            <ToolDisplay tooltipTitle="MySQL" logoSrc="/src/logos/mysql.png"/>
        </div>
    </div>

    <div class="bg-dominant-color text-white shadow-3xl w-screen p-4 text-center">
        <h1 id="projects" class="text-7xl">Projects</h1>
        <h5 class="text-black">See something you like?</h5>
        <a class="rounded-xl bg-button-color shadow-2xl p-2 m-8 text-xl font-semibold text-black hover:bg-button-hover-color hover:cursor-pointer">Contact Me!</a>
        <br class="mb-10"/>
    </div>

    <div class="flex flex-col justify-evenly text-white">
        <div class="bg-dominant-color flex items-center justify-center p-4">
            <img src="space-invaders.png" class="flex-grow w-1/3 rounded-xl m-4">
            <div class="flex flex-col items-center w-2/3 flex-grow">
                <h1 class="text-6xl">Space Invaders</h1>
                <h6>&nbsp;&nbsp;&nbsp;&nbsp;A recreation of the classic Space Invaders Arcade Game made with Python and the Pygame library</h6>
                <div class="tools flex flex-wrap items-center justify-center">
                    <h5>Made With: </h5>
                    <ToolDisplay tooltipTitle="Python" logoSrc="/src/logos/python.png"/>
                    <ToolDisplay tooltipTitle="Pygame" logoSrc="/src/logos/pygame.png"/>
                </div>
                <a class="rounded-xl bg-button-color shadow-2xl p-2 m-2 text-xl font-semibold hover:bg-button-hover-color hover:cursor-pointer">Source Code:</a>
            </div>
        </div>

        <div class="bg-page-color flex items-center justify-center p-4 text-black">
            <div class="flex flex-col items-center w-2/3 flex-grow">
                <h1>QR Log in System</h1>
                <h6>&nbsp;&nbsp;&nbsp;&nbsp;A QR code-based log-in/out system made with Python, OpenCV, and MySQL.</h6>
                <div class="tools flex flex-wrap items-center justify-center">
                    <h5>Made With: </h5>
                    <ToolDisplay tooltipTitle="Python" logoSrc="/src/logos/python.png"/>
                    <ToolDisplay tooltipTitle="MySQL" logoSrc="/src/logos/mysql.png"/>
                    <ToolDisplay tooltipTitle="OpenCV" logoSrc="/src/logos/opencv.png"/>
                </div>
                <a class="rounded-xl text-white bg-button-color shadow-2xl p-2 m-2 text-xl font-semibold hover:bg-button-hover-color hover:cursor-pointer">Source Code:</a>
            </div>
            <img src="space-invaders.png" class="flex-grow w-1/3 rounded-xl m-4">
        </div>

        <div class="bg-accent-color flex items-center justify-center p-4">
            <h1>Project 2</h1>
        </div>

        <div class="bg-accent-color flex items-center justify-center p-4">
            <h1>Project 3</h1>
        </div>
    </div>
    <Footer />
    <br />
</MainLayout>