<div id="contacts" class="footer flex justify-center bg-page-color w-screen text-center m-0 p-0">
    <div class="flex flex-col">
        <h5 class="mb-0">Sitemap</h5>
        <h6><a href="#home" class="hover:underline hover:text-blue-600">
            Home</a></h6>
        <h6><a href="#projects" class="hover:underline hover:text-blue-600">
            Projects</a></h6>
        <h6><a href="#about" class="hover:underline hover:text-blue-600">
            About</a></h6>
    </div>
    <div class="flex flex-col">   
        <h5 class="mb-0">Social Media</h5>
        <h6><a href="mailto:holderhereinplace@gmail.com" class="hover:underline hover:text-blue-600" target="_blank" rel="noopener noreferrer">
            Email</a></h6>
        <h6><a href="https://github.com/PlaceHolderHere" class="hover:underline hover:text-blue-600" target="_blank" rel="noopener noreferrer">
            Github</a></h6>
        <h6><a href="https://www.facebook.com/profile.php?id=61560111270042" class="hover:underline hover:text-blue-600" target="_blank" rel="noopener noreferrer">
            Facebook</a></h6>
        <h6><a href="https://www.youtube.com/channel/UCRYDGgclxAQBJLRp0WLp-1g" class="hover:underline hover:text-blue-600" target="_blank" rel="noopener noreferrer">
            Youtube</a></h6>
    </div>
</div>