---
const {title = "PlaceHolderHere's Website", navbarButtons = [["Home", "/"], , ["Blogs", "/blogs"], ["About", "/About"], ["Contact Us", "Contact-Us"]]} = Astro.props //[[Button Text, Button Link]]
---

<div class="flex bg-accent-color min-w-full min-h-20 items-center justify-between fixed top-0">
    <h1 class="text-white text-xl p-1 m-6">{title}</h1>
    <div class="buttons flex justify-end items-center">
        {
            navbarButtons.map(button =>(
                <a class="button" href={button[1]}>{button[0]}</a>
            ))
        }
    </div>
</div>
<br class="my-10"/>


<style>
    .button{
        @apply bg-white inline-block p-2 my-2 mr-6 rounded-md text-right hover:bg-blue-100 hover:cursor-pointer
    }
</style>