---
import MainLayout from "../../layouts/MainLayout.astro"
---
<MainLayout buttons={[["Home", "/"], ["Projects", "/#projects"], ["Contacts", "/contacts"]]}>
    <br class="mb-20"/>
    <h1>Space Invaders</h1>
</MainLayout>